{% extends 'base.html' %}

{% block title %}
SharingFood | Home
{% endblock %}

{% block content %}
<section class="vh-100" id="top-section" style="background-color: sandybrown;">
  <nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="/home" style="font-size: 1.50rem;">Sharing Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/donate" style="font-size: 1.50rem;">Donate <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voluteer" style="font-size: 1.50rem;">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" style="font-size: 1.50rem;">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-md mt-4">
    <h1 class="display-4" style="font-size: 5.6rem;">Reducing<br>Food Waste.</h1>
  </div>
  <div class="container-md pt-5 mb-4">
    <div class="row">
      <div class="col-md-8 offset-sm-4">
        <p class="lead" style="font-size: 2.25rem;">Roughly a third of the world’s food is never eaten, which means land and resources used and greenhouse gases emitted in producing it were unnecessary. Interventions can reduce loss and waste, as food moves from farm to fork, thereby reducing overall demand.</p>
      </div>
    </div>
  </div>
</section>

<section id="middle-section">
  <div class="card-deck my-4 px-5">
    <div class="card border-0" >
      <img src="https://i.imgur.com/Ss5gOK3.png" class="card-img-top" alt="Climate Change">
      <div class="card-body">
        <p class="card-text lead text-center" style="font-size: 1rem;">To stop climate change. The end goal is to reduce greenhouse gases by avoiding emissions and/or by sequestring carbon dioxide already in the atmosphere.</p>
      </div>
    </div>
    <div class="card border-0">
      <img src="https://i.imgur.com/H3DaACV.png" class="card-img-top" alt="Trash Bin">
      <div class="card-body">
        <p class="card-text lead text-center" style="font-size: 1rem;">If 50-75 percent of food waste is reduce by 2050, avoided emissions could be equal to 10.3-18.8 gigatons of carbon dioxide.</p>
      </div>
    </div>
    <div class="card border-0">
      <img src="https://i.imgur.com/fkDzVoC.png" class="card-img-top" alt="Eatting plate">
      <div class="card-body">
        <p class="card-text lead text-center" style="font-size: 1rem;">There are 690 million people that suffer from hunger and do not get enough food to lead a healthy and active life.</p>
      </div>
    </div>
  </div>
</section>

<section class="vh-100" id="bottom-section" style="background-color: aquamarine;">
  <div class="container-md mt-4">
    <h1 class="display-4" style="font-size: 5.6rem;">Using<br>Technology.</h1>
  </div>
  <div class="container-md pt-5">
    <div class="row">
      <div class="col-md-8 offset-sm-4">
        <p class="lead" style="font-size: 2.25rem;">This product help people suffering from hunger, achive food security, by connecting donors, volunteers and organizations through a platform where is easy to donate excess food to any organizations that serve those with food insecurity.</p>
        <p class="lead" style="font-size: 2.25rem;">At the same time it address global warming by taking care of food waste in highincome economies where food is thrown away by consumers, food in perfect conditions.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}