{% extends 'base.html' %}

{% block title %}
SharingFood | Profile
{% endblock %}

{% block content %}
<section style="background-color: #13B0B9;">
    <nav class="navbar navbar-expand-sm navbar-light bg-light"  style="background-color: #13B0B9 !important;">
        <a class="navbar-brand" href="/" style="font-size: 1.50rem; color: #91EA0B; font-weight: 600;">Sharing Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/donate" style="font-size: 1.50rem; color: #91EA0B">Donate <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/volunteer" style="font-size: 1.50rem; color: #91EA0B">Volunteer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile" style="font-size: 1.50rem; color: #91EA0B">Profile</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- PERSONAL INFO -->
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-10 offset-sm-1">
                <!-- <label class="display-4" style="font-size: 1.5rem;" for="pick-up-where">Personal Info</label> -->
                <div class="container rounded bg-light">
                    <div class="row">
                        <div class="col-sm-10 offset-sm-1 px-0">   
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4 text-center py-4">
                                        <img src="https://i.imgur.com/1j0Ujls.jpg" alt="Profile Picture" class="rounded-circle" width="50wh">
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <p class="my-3" style="font-size: 1rem; font-weight: 400; color: #13B0B9;">Name:&nbsp;&nbsp;&nbsp;&nbsp;Ezra</p>
                                                    <p style="font-size: 1rem; font-weight: 400; color: #13B0B9;">Last Name: &nbsp;&nbsp;&nbsp;&nbsp;Morales</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <p class="my-3" style="font-size: 1rem; font-weight: 400; color: #13B0B9;">ID:&nbsp;&nbsp;&nbsp; 000000001</p>
                                                    <p class="my-3" style="font-size: 1rem; font-weight: 400; color: #13B0B9;">Phone:  &nbsp;&nbsp;&nbsp;000-00-0000</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DONOR INFO -->
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-10 offset-sm-1">
                <!-- <label class="display-4" style="font-size: 1.5rem;" for="pick-up-where">Donor Info</label>    -->             
                <div class="container">
                    <div class="row">
                        <div class="col px-0">   
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-5 text-center py-4 bg-light rounded">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Meal Delivered</p>
                                                    <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">536</p>
                                                    <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">View all</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-5 offset-sm-2 text-center py-4 bg-light rounded">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">
                                                    <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Meal Donated</p>
                                                    <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">15</p>
                                                    <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">View all</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ACHIVEMENT INFO -->
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-10 offset-sm-1">
                <!-- <label class="display-4" style="font-size: 1.5rem;" for="pick-up-where">Achivement Info</label> -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm px-0">   
                            <div class="container bg-light rounded">
                                <div class="row">
                                    <div class="col-sm-4 border-right border-bottom text-center py-4">
                                        <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Achivements Collected</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">10</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">View all</p>                                    
                                    </div>
                                    <div class="col-sm-2 text-center my-4">
                                        <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">1st Meal Delivered</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">1st Meal Donated</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Thank You!</p>                                       
                                    </div>
                                    <div class="col-sm-2 offset-sm-1 text-center my-4">
                                        <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Informed</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Sharing is caring</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">1 year</p>                                       
                                    </div>
                                    <div class="col-sm-2 offset-sm-1 text-center my-4">
                                        <p class="my-3" style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Leap year</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">Lucky #7</p>
                                        <p style="font-size: 1rem; font-weight: 400;color: #13B0B9;">2 years</p>                                       
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}