{% extends 'base.html' %}

{% block title %}
SharingFood | Volunteer
{% endblock %}

{% block content %}
<section class="vh-100" id="top-section" style="background-color: #13B0B9;">
  <nav class="navbar navbar-expand-sm navbar-light bg-light"  style="background-color: #13B0B9 !important;">
    <a class="navbar-brand" href="/" style="font-size: 1.50rem; color: #91EA0B; font-weight: 600;">Sharing Food</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/donate" style="font-size: 1.50rem; color: #91EA0B">Donate <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/volunteer" style="font-size: 1.50rem; color: #91EA0B">Volunteer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" style="font-size: 1.50rem; color: #91EA0B">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 pr-0">
        <div class="container my-4">
          <h1 class=" display-3" style="color: #91EA0B">Where are you?</h1>
        </div>
        <div class="container my-4">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="search-bar">
          </div>
        </div>
        <div class="container py-2 border-bottom">
          <h2 class="lead" style="color: #91EA0B">Recents</h2>
        </div>
        <div class="container py-2 border-bottom">
          <h3 style="color: #91EA0B">Banco de Alimentos</h3>
          <p class="lead" style="color: #91EA0B">Carolina</p>
        </div>
        <div class="container py-2 border-bottom">
          <h3 style="color: #91EA0B">Come Colegial</h3>
          <p class="lead" style="color: #91EA0B">Mayaguez</p>
        </div>
        <div class="container py-2 border-bottom">
          <h3 style="color: #91EA0B">Albergue Los Peregrinos</h3>
          <p class="lead" style="color: #91EA0B">Caguas</p>
        </div>
      </div>


      <div class="col-md-8 pr-0">
        <div class="rounded" id="mapid" style="height: 675px;">
          <!-- map here -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}